.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200vh;
  background: hsl(30, 38%, 92%);
}

.section {
  display: flex;
  flex-direction: row;
  height: 600px;
  background: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
}

.left-box {
  height: auto;
  width: 400px;
  border-radius: 10px 0 0 10px;
}

.right-box {
  height: auto;
  width: 400px;
}

@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;
    height: auto;
  }

  .left-box {
    height: auto;
    border-radius: 10px 10px 0 0px;
  }

  .right-box {
    height: 600px;
  }

  .section {
    border-radius: 10px 10px 10px 10px;
  }
}
