body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-size: 45px;
}

h2 {
  color: hsl(158, 36%, 37%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200vh;
  background: hsl(30, 38%, 92%);
}

.section {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: auto;
  background: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
}

.left-box {
  height: auto;
  width: 400px;
  border-radius: 10px 0 0 10px;
}

.right-box {
  height: auto;
  width: 400px;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: repeat(5, 20%);
  justify-content: center;
  align-items: center;
}

.heading {
  background-color: aquamarine;
}

.price {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.btn {
  height: 55px;
  border: none;
  color: white;
  border-radius: 10px;
  background: hsl(158, 36%, 20%);
}

@media screen and (max-width: 445px) {
  .section {
    flex-direction: column;
    height: auto;
    width: 400px;
  }

  .left-box {
    height: auto;
    width: 400px;
    border-radius: 10px 10px 0 0px;
  }

  .right-box {
    height: 600px;
    width: 400px;
  }

  .section {
    border-radius: 10px 10px 10px 10px;
  }
}
