body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-size: 45px;
}

h1 {
  line-height: 50px;
}

h2 {
  color: hsl(158, 36%, 37%);
}

.grey {
  color: hsla(0, 0%, 0%, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200vh;
  background: hsl(30, 38%, 92%);
}

.section {
  display: flex;
  flex-direction: row;
  height: 600px;
  width: auto;
  background: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
}

.left-box {
  height: auto;
  width: 400px;
  border-radius: 10px 0 0 10px;
}

.right-box {
  height: auto;
  width: 400px;
  display: grid;
  grid-template-columns: 70%;
  grid-template-rows: 15% 25% 25% 10% 25%;
  justify-content: center;
  align-items: center;
}

.heading {
  letter-spacing: 0.5rem;
}

.price {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  align-items: center;
}

.strike {
  text-decoration: line-through;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
  height: 70px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: hsl(158, 36%, 20%);
  display: grid;
  grid-template-columns: 5% 45%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 445px) {
  .section {
    flex-direction: column;
    height: auto;
    width: 400px;
  }

  .left-box {
    height: auto;
    width: 400px;
    border-radius: 10px 10px 0 0px;
  }

  .right-box {
    height: 600px;
    width: 400px;
  }

  .section {
    border-radius: 10px 10px 10px 10px;
  }
}
